# PyTorch
torch
torchtext

# Models
transformers

# Http Server
Flask
waitress

# Http Client
requests

# News API
GoogleNews~=1.5.7
MyApplication

# Time
pytz

# Twitter API
tweepy
emoji
preprocessor
tweet-preprocessor
